<div class="post_edit_container">
    <%= form_with model: [:admin, @post] do |f| %>
        <div class="post_edit_content">
            <%= f.text_field :title, class: "post_edit_field post_edit_field_title", placeholder: "Enter Title" %>
            <%= f.text_area :description, class: "post_edit_field post_edit_field_desc", placeholder: "Enter Description in markdown format" %>
        </div>
        
        <%= f.submit "submit", class: "post_edit_submit" %>
    <% end %>
</div>