<ul class="post-list-container">
    <% @posts.each do |post| %>
        <li class="post-list-element">
            <%= link_to post_path(post) do %>
                <h2><%= post.title %></h2>
                <p>
                    <%= parse_md_strip_down(post.description) %>
                </p>
            <% end %>

            <ul class="post-list-info">
                <li>
                    <%= post.created_at.in_time_zone("Asia/Seoul").strftime("%F") %>
                </li>
            </ul>
        </li>
    <% end %>
</ul>