<section id="publish-dialog" class="overlay-container">
    <div id="publish-info-container">
        <span id="close-publish-dialog">X</span>
        <span id="publish-title" class="f-b"></span>
        <!-- TODO : Caterory 작업 필요 -->
        <div id="tag-container">
        </div>
        <input type="button" id="publish-post" value="Publish">
    </div>
</section>