<div class="root-admin-login">
    <h1>Sign In</h1>

    <div class="container-admin-login">
        <%= form_with url: admin_login_path do |f| %>
            <label>User Name</label>
            <%= f.text_field :name, class: "login-form-field" %>
            <label>Password</label>
            <%= f.password_field :password, class: "login-form-field" %>
            <div class="login-message-area">
            </div>
            <%= f.submit "login", class: "login-submit" %>
        <% end %>
    </div>
</div>