.block-container {
    position: relative;
    top: 0;
    left: 0;

    .block-content {
        box-sizing: border-box;
        max-width: 740px;
        height: auto;
        padding: 5px 0;
        padding-left: 10px;
        padding-right: 20px;
        margin: 5px auto;
        border-left: 5px solid #ff0c20;
        background-color: #ff5c69 !important;
        color: #ffffff;
        animation: FadeIn .75s ease-out;

        p {
            margin: 0;
            font-size: 15px;
            word-break: break-word;
            line-height: 30px;
        }
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.7;
    }
}