.post-container {
    max-width: 600px;
    margin: 10px auto;
    list-style-type: none;
    padding: 0;

    li {
        border-bottom: 1px solid #eeeeee;
        padding: 20px 0;
    }
    li:last-child { border-bottom: none; }

    a {
        text-decoration: none;
        color: black;

        &:hover { text-decoration: underline; }

        .post-title {
            font-weight: bold;
        }
    }

    .post-info {
        font-size: 13px;
    }
}