#post-edit-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1800px;
    width: 100%;
    box-sizing: border-box;

    #post-edit-area {
        max-width: 900px;
        min-height: calc(100vh - 60px); // header height가 60px
        width: 100%;
        height: 100%;
        padding: 50px 30px 0 30px;
        background-color: white;
        box-sizing: inherit;
        border-left: 1px solid #ebebeb; 
        border-right: 1px solid #ebebeb;
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            box-sizing: inherit;
    
            .post-edit-field {
                width: 100%;
                border: none;
                background-color: transparent;
                box-sizing: inherit;
            }
        
            #post_title {
                padding-left: 10px;
                border-bottom: 1px solid #ebebeb;
                font-size: 1.8rem;
                line-height: 1.8rem;
                height: 50px;
    
                &:focus {
                    outline: none;
                }
            }
        
            #post_description {
                white-space: pre-wrap;
                min-height: 300px;
                padding: 15px 10px;
                margin-top: 10px;
                font-size: 1.15rem;
                line-height: 1.8;
                word-break: break-word;
                resize: none;
    
                &:focus {
                    outline: none;
                }
            }
        }
    }
    
    #area-border-menu {
        min-height: calc(100vh - 60px);
        width: 50px;
        height: 100%;
        background-color: #dddddd;
    }

    #post-preview-area {
        min-height: calc(100vh - 60px);
        width: 100%;
        height: 100%;
        padding: 50px 30px 0 30px;
        box-sizing: inherit;
        background-color: #dddddd;
        font-size: 1.1rem;

        #title-preview {
            margin: 0;
            padding: 0;
            height: 50px;
            line-height: 50px;
            box-sizing: inherit;
        }
        
        #description-preview {
            white-space: pre-line;
            margin-top: 10px;
            word-break: break-word;
            line-height: 1.8;

            h3 {
                border-bottom: 1px solid #c9c9c9;
                font-size: 1.8rem;
                line-height: 1.8rem;
            }

            h4 {
                font-size: 1.6rem;
                line-height: 1.6rem;
            }

            h5 {
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
        }
    }
}