.post-edit-container {
    box-sizing: border-box;
    max-width: 740px;
    min-height: 100%;
    padding: 50px 50px 100px 50px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-top: none;
    .post-edit-content {
        .post-edit-field {
            display: block;
            width: 100%;
            border: none;
            padding: 0 10px;
            background-color: transparent;
            word-break: break-word;
            box-sizing: border-box;
        }
        .post-edit-field-title {
            min-height: 50px;
            border-bottom: 1px solid #dddddd;
            font-size: 23px;
            &:focus {
                outline: none;
            }
        }
        .post-edit-field-desc {
            white-space: pre-wrap;
            min-height: 300px;
            padding: 15px 10px;
            font-size: 17px;
            line-height: 28px;
            resize: none;
            &:focus {
                outline: none;
            }
            &:empty:before {
                content: attr(placeholder);
                color: #616161;
            }
        }
    }
}