.post-edit-section {
    max-width: 740px;
    min-height: 100%;
    padding: 50px 50px 100px 50px;
    margin: 0 auto;
    box-sizing: border-box;

    .post-edit-field {
        display: block;
        width: 100%;
        border: none;
        padding: 0 10px;
        background-color: transparent;
        word-break: break-word;
        box-sizing: border-box;
    }
    .post-edit-field-title {
        min-height: 50px;
        border-bottom: 1px solid #dddddd;
        font-size: 2rem;
        &:focus {
            outline: none;
        }
    }
    .post-edit-field-desc {
        white-space: pre-wrap;
        min-height: 300px;
        padding: 15px 10px;
        font-size: 17px;
        line-height: 28px;
        resize: none;
        &:focus {
            outline: none;
        }
        &:empty:before {
            content: attr(placeholder);
            color: #616161;
        }
    }
}