// Place all the styles related to the auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        max-width: 480px;
        padding: 20px 20px;
        // box-shadow: 0px 0px 6px 2px #b1b1b17a;

        .form-element {
            margin-bottom: 30px;
            font-size: 1.3rem;
            line-height: 1.5;
            width: 100%;
            box-sizing: inherit;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .text-field {
            padding: 5px 10px;
            border: none;
            border-bottom: 1px solid #333030;
            background-color: #fcfcfc;
            outline: none;

            &::placeholder {
                color: rgba(0, 0, 0, .3);
            }
        }

        .invalid-field {
            border-color: rgb(214, 41, 41);
        }

        .field-info-label {
            width: 100%;
            text-align: left;
            padding-left: 22px;
            margin-bottom: 1px;
            font-size: 0.75rem;
            visibility: hidden;
        }

        input[type="submit"] {
            background-color: #333030;
            color: #fcfcfc;
            width: 200px;
            height: 40px;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 4px;
            border: none;
            margin-top: 40px;
        }
    }
}