// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root_index {
    .post_list {
        list-style-type: decimal;
        li {
            border-bottom: 1px solid #eeeeee;
            padding: 10px 0;
        }
        li:last-child { border-bottom: none }

        a {
            text-decoration: none;
            color: black;
            font-size: 17px;
            font-weight: bold;

            &:hover { text-decoration: underline; }
        }
    }
}

.root_new_post {
    width: 100%;

    .new_post_container {
        max-width: 740px;
        margin: 0 auto;
    }

    .new_post_edit_content {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .15);
    }

    .new_post_edit_field {
        display: block;
        width: 100%;
        border: none;
        padding: 0 10px;
        background-color: #ffffff;
        word-break: break-word;
        box-sizing: border-box;
    }

    .field_title {
        min-height: 50px;
        border-bottom: 1px solid #dddddd;
        font-size: 23px;

        &:focus {
            outline: none;
        }
    }
    
    .field_desc {
        min-height: 300px;
        height: 550px;
        padding-top: 10px;
        font-size: 15px;
        resize: none;

        &:focus {
            outline: none;
        }
    }
    
    .new_post_submit {
        display: block;
        margin: 20px 0;
    }
}

.root_show_post {
    width: 100%;

    .post_container {
        max-width: 740px;
        margin: 0 auto;
        padding: 0 20px;

        .post_info {
            font-size: 12px;
            margin: 20px 0;
        }

        .post_content {
            margin: 10px 0;

            pre {
                background-color: #464646;

                code {
                    color: #b8b8b8;
                }
            }
        }
        
        .post_edit_menu {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;

            .button_to {
                display: inline-block;
            }
        }
    }

    .post_footer {
        max-width: 740px;
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid #eeeeee;

        .comment {
            min-height: 50px;
            margin-top: 10px;
            padding: 0 10px;
            border-bottom: 1px solid #eeeeee;
            word-break: break-word;

            .button_to {
                display: flex;
                justify-content: flex-end;
                padding: 10px 0;
            }
        }
        
        .new_comment_form {
            padding: 20px 0;
            
            .comment_desc_area {
                width: 100%;
                height: 70px;
                resize: none;
            }

            .comment_submit {
                display: block;
            }
        }        
    }
}

.root_edit_post {
    .field_title {
        display: block;
        width: 500px;
    }
    
    .field_desc {
        display: block;
    }
    
    .submit_edit_post {
        display: block;
    }
}