// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root-admin-login {
    width: 100%;
    box-sizing: border-box;
    
    h1 {
        max-width: 400px;
        margin: 25px auto;
    }

    .container-admin-login {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #eeeeee;
        background-color: #ffffff;

        .login-form-field {
            margin-bottom: 20px;
            width: 100%;
            height: 30px;
            font-size: 16px;
        }

        label {
            display: block;
            font-size: 15px;
            font-weight: bold;
        }
    }

    .login-message-area {
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
        font-size: 15px;
        text-align: center;
        color: #ff3535;
    }

    .login-submit {
        -webkit-appearance: none;
        display: block;
        padding: 10px 0;
        width: 100%;
        height: 40px;
        font-size: 14px;
        background-color: #fcfcfc;
    }
}